@import "tailwindcss";

@theme {
  --text-title: 1.75rem;
  --text-title--line-height: 1.3;
  --tracking-tight: -0.025em;
  --tracking-wider: 0.05em;
   --tw-leading:initial;
}

body {
  @apply bg-[#fff] text-black;
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}


.text-title {
  font-size: var(--text-title);
  line-height: var(--tw-leading, var(--text-title--line-height));
}
